Debug/
.cproject
.project
GridX.txt
GridY.txt
GridZ.txt
heat3D.txt
T_alongx_atyz.gnumeric
T_alongx_atyz.txt
T_alongx_atyz_verification.gnumeric
T_alongy_atxz.gnumeric
T_alongy_atxz.txt
T_alongy_atxz_verification.gnumeric
T_alongz_atxy.gnumeric
T_alongz_atxy.txt
T_alongz_atxy_verification.gnumeric
visualization.vtk
visualization2D.vtk
heat3Dref.txt
heat3Dref2.txt
heat3Dref3.txt
.metadata
.settings
*.aux
*.log
*.gz
*.tex
